@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --font-title:'Montserrat', sans-serif;
    --font-content:'Open Sans', sans-serif;

    --primary-color: #0A112B;
    --secondary-color: #dc143c;
    --white-color: #fff;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font size equivale a 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-content);
    color: var(--primary-color);
    line-height: 1.5;
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}   

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

p {
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
}

/* Estilos padões para reutilizar nas sessões */
.main-bg {
    background-image: url("../imgs/main-bg.svg");
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.section-height {
    min-height: 100vh;
}

/* Estilos do conteudo */
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.2rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    position: relative;
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    left: 25%;
    width: 50%;
}

/* Espaçamento Menu */
.menu-spacing {
    height: 6.5rem;
}

/* Sessão Intro */
.intro-content {
    position: relative;
    top: -3rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


.intro-img img {
    max-width: 100%;
    height: auto;
}

/* Sessão top 3 */
.top3-content {
    max-width: 80rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-one-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid h3 {
    position: relative;
    font-size: 3rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 6.5rem;
    font-style: italic;
    top: -2.5rem;
    left: -2rem;
    transform: rotate(5deg);
}

/* sessão gallery */
.gallery-imgs {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem; 
    overflow: hidden;
}

.gallery-imgs img {
    transition: all 300ms ease-in-out;
}

.gallery-imgs img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}